.css-clpea3 {
    padding-top: unset !important;
}

.css-12m0xez  {
    padding-top: unset !important;
}

.image-gallery-image{
    border-radius: 12px;
}

.image-gallery-thumbnail.active {
    border-radius: 13px;
}

.image-gallery-thumbnail:hover {
    cursor: pointer;
    border-radius: 13px;
}

.image-gallery-thumbnail-image {
    border-radius: 10px;
}